<div id="show-edit-modal" class="modal fade bs-example-modal-static" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                <h4 class="modal-title">Edit User Activity:: <span style="font-weight: bold;"><%= @user_activity.activity.activity_name.titleize %></span> </h4>
            </div>

            <div class="modal-body">

                <!-- <div class="list-group contact-group"> -->
                    <!-- <div class="list-group-item"> -->

                        <div class="media"><!-- media start -->
                          <%= render 'form', user_activity: @user_activity %>
                        </div><!-- media end -->

                    <!-- </div>group-list  -->
                <!-- </div> -->

            </div>
            
        </div>
    </div>
</div>