<style type="text/css">

	.override-mb-5 {
	   margin-bottom: 1rem!important;
	}

</style>

<footer class="site-footer" role="contentinfo">
      <div class="container">
        <div class="row override-mb-5">
          <div class="col-md-4 override-mb-5">
            <h3>Follow Us</h3>
            <!-- <p class="override-mb-5">This project is for educational purposes only! <br /> I developed this app as a simple prototype for my students who are undertaing Fullstack course at OpenClassrooms for the project <strong><a href="https://openclassrooms.com/en" target="_blank">Track your fitness habits</a></strong>.
            </p> -->
            <ul class="list-unstyled footer-link d-flex footer-social">
              <li><a href="#" class="p-2"><span class="fa fa-twitter fa-2x"></span></a></li>
              <li><a href="#" class="p-2"><span class="fa fa-facebook fa-2x"></span></a></li>
              <li><a href="#" class="p-2"><span class="fa fa-linkedin fa-2x"></span></a></li>
              <li><a href="#" class="p-2"><span class="fa fa-github fa-2x"></span></a></li>
            </ul>

          </div>
          <div class="col-md-5 override-mb-5">
            <h3>Contact Info</h3>
            <ul class="list-unstyled footer-link">
              <li class="d-block">
                <span class="d-block">Address:</span>
                <span class="text-white">5 Rue du Lion d'Or, 94400 Vitry-sur-Seine, France</span></li>
              <li class="d-block"><span class="d-block">Telephone:</span><span class="text-white">+33771727909</span></li>
              <li class="d-block"><span class="d-block">Email:</span><span class="text-white">fortress-bismark@yandex.com</span></li>
            </ul>
          </div>
          <div class="col-md-3 override-mb-5">
            <h3>Quick Links</h3>
            <ul class="list-unstyled footer-link">
              <li><a href="#">About</a></li>
              <li><a href="#">Terms of Use</a></li>
              <li><a href="#">Disclaimers</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
          <div class="col-md-3">
          
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-md-center text-left">
            <p>&copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Template made with <i class="fa fa-heart-o fa-1x" style="color: #fff" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> <br> <strong>Template modified with <i class="fa fa-heart-o fa-1x" style="color: #fff" aria-hidden="true"></i> by <a href="#" target="_blank">fortress-bismark</a></strong></p>
          </div>
        </div>
      </div>
    </footer>