<div class="row" style="border: 1px solid; padding: 1em; border-radius: 0.5em; margin: 0.5em; border-color: rgba(1,51,52,0.7);">

<!-- <h1>Editing Role</h1> -->

<%= render 'form', role: @role %>

<%= link_to 'Show', @role, class: 'btn btn-success btn-sm' %> |
<%= link_to 'Back', roles_path, class: 'btn btn-default btn-sm' %>

</div>