<!-- <h3>New Activity</h3> -->

<div class="row" style="border: 1px solid; padding: 1em; border-radius: 0.5em; margin: 0.5em; border-color: #A7A7A7">

	<%= render 'form', activity: @activity, class: 'btn btn-success btn-sm' %>

	<%= link_to 'Back', activities_path, class: 'btn btn-default btn-sm' %>

</div>